<html>

  <head>
    <title>Onboarding Email - Crezalo.com</title>
  </head>

  <body>
    <div style="background-color: #f2f2f2; padding: 20px;">
      <h2 style="color: #333333;">Welcome to Crezalo!</h2>
      <p>Dear {{name}},</p>
      <p>We are thrilled to have you onboard our Creator Monetization Platform.
        Do you want to?</p>
      <ul>
        <li>sell access to premium videos</li>
        <li>sell courses</li>
        <li>sell merchandise with shipping</li>
        <li>receive tips</li>
      </ul>
      <p>You are in the right place!</p>
      <p>We offer our services at 0% revenue sharing.</p>
      <p>Don't want to commit upfront? We have a free plan!!!</p>
      <p>Sign Up To Launch Your One Page Store Now!!!</p>
      <a
        href="http://crezalo.com/#register"
        style="background-color: #4CAF50; color: white; padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block;"
        target="_blank"
      >Sign Up Now</a>
      <a
        href="https://info.crezalo.com/"
        style="background-color: #4cafac; color: white; padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block;"
        target="_blank"
      >Know More</a>
      <p>Best,</p>
      <p>The Crezalo Team</p>
    </div>
  </body>

</html>